@import 'tailwindcss';

@theme {
  --color-border: oklch(0.91 0.01 265);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.15 0.05 265);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-border: oklch(0.25 0.03 265);
    --color-background: oklch(0.15 0.05 265);
    --color-foreground: oklch(0.95 0.01 265);
  }
}
